<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
</head>
<body>
    
<!-- dish section starts-->
<!-- <section class="menuu"> -->
<section class="dishes" id="dishes">
    <h3 class="sub-heading">our dishes</h3>
    <h1 class="heading">popular dishes</h1>

    <div class="box-container">

        <div class="box">
            <a href="#" class="fas-fa-heart"></a>
            <a href="#" class="fas-fa-eye"></a>
            <img src="{% static 'images/burger2.avif' %}" alt="">
            <h3>Burger</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <!-- <i class="fas fa-star-half-alt"></i> -->
            </div>
            <span>Rs.149</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas-fa-heart"></a>
            <a href="#" class="fas-fa-eye"></a>
            <img src="{% static 'images/noodles.avif' %}" alt="">
            <h3>Noodles</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs.149</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas-fa-heart"></a>
            <a href="#" class="fas-fa-eye"></a>
            <img src="{% static 'images/sandwich2.avif' %}" alt="">
            <h3>Sandwich</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <!-- <i class="fas fa-star"></i> -->
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs.149</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas-fa-heart"></a>
            <a href="#" class="fas-fa-eye"></a>
            <img src="{% static 'images/rolll.avif' %}" alt="">
            <h3>Veg Roll</h3>
            <div class="stars">
                <!-- <i class="fas fa-star"></i> -->
                <!-- <i class="fas fa-star"></i> -->
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>Rs.149</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas-fa-heart"></a>
            <a href="#" class="fas-fa-eye"></a>
            <img src="{% static 'images/fries.avif' %}" alt="">
            <h3>Fries</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <!-- <i class="fas fa-star-half-alt"></i> -->
            </div>
            <span>Rs.149</span>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas-fa-heart"></a>
            <a href="#" class="fas-fa-eye"></a>
            <img src="{% static 'images/pizza2.avif' %}" alt="">
            <h3>Pizza</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>Rs.149</span>
            <a href="#" class="btn">add to cart</a>
        </div>

    </div>
</section>
<!-- dish section ends-->


<!--drink section nikunj starts-->
<section class="menu" id="menu">

    <h3 class="sub-heading">our drinks</h3>
    <h1 class="heading">today's speciality</h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="{% static 'images/cola.avif' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class ="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3>Coca Cola</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, mollitia.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">₹49</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/mojito.avif' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class ="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3>MOJITO</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, mollitia.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">₹49</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/oreao shake.avif' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class ="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3>Oreo Shake</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, mollitia.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">₹49</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/lime soda.avif' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class ="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3>Lime Soda</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, mollitia.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">₹49</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/Icetea.avif' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class ="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3>Ice Tea</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, mollitia.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">₹49</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/coldcfe.avif' %}" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class ="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3>Cold Coffee</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, mollitia.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">₹49</span>
            </div>
        </div>

        <!-- <div class="box">
            <div class="image">
                <img src="images/menu-7.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class ="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3>delicious food</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, mollitia.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">₹49</span>
            </div>
        </div> -->

        <!-- <div class="box">
            <div class="image">
                <img src="images/menu-8.jpg" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class ="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3>delicious food</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, mollitia.</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">₹49</span>
            </div>
        </div> -->

    </div>

</section>
<!--drink section nikunj ends-->
<!-- </section> -->
</body>
</html>
